* {
    font-family: arial;
}
@font-face {
    font-family: 'belwe';
    src: url('/assets/fonts/belwe.otf');
}
@font-face {
    font-family: 'treamd';
    src: url('/assets/fonts/Treamd.ttf');
}
.fontPreload {
    font-family: 'belwe';
    position: absolute;
    left: -100px;
}
.fontPreloadTreamd {
    font-family: 'treamd';
    position: absolute;
    left: -100px;
}

.game_input {
    position: absolute;
    width: 10px;
    background: transparent;
    border: none;
    display: inline;
    color: white;
    left: -100px;
    top: -100px;
}

.game_input:focus {
    border: 1px dotted black;
    background-color: rgba(0,0,0,0.5);
    outline: none;
}

.danger {
    color: red;
    font-weight: bold;
}