* {
    font-family: arial;
}
@font-face {
    font-family: 'belwe';
    src: url('/assets/fonts/belwe.otf');
}
@font-face {
    font-family: 'treamd';
    src: url('/assets/fonts/Treamd.ttf');
}
.fontPreload {
    font-family: 'belwe';
    position: absolute;
    left: -100px;
}
.fontPreloadTreamd {
    font-family: 'treamd';
    position: absolute;
    left: -100px;
}

.chat {
    position: absolute;
    width: 200px;
    background: transparent;
    border: none;
    display: none;
    color: white;
}

.chat:focus {
    border: 1px dotted black;
    background-color: rgba(0,0,0,0.5);
    outline: none;
}