<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">    <title>Admin</title>
    <link href="admin.css" rel="stylesheet">
</head>
<body>
<h1>Westward admin</h1>
<div ng-app="admin" ng-controller="mainCtrl">

    <div class="panel panel-default" ng-repeat="screenshot in screenshots">
        <div class="panel-heading">
            {{screenshot.stamp | date}} @ ({{screenshot.player.x}}, {{screenshot.player.y}}) | {{screenshot.browser}}
        </div>
        <div class="panel-body">
            <img class="bug-snap" data-ng-src="data:image/png;base64,{{screenshot.img | processImg}}"/>
        </div>
    </div>

    <div ng-repeat="event in events">
        <!--- ":this" means that a second argument is sent to the filter, which is a reference to the whole scope -->
        {{event | eventFilter:this}}
    </div>
</div>

</body>
<script src="admin.js" type="text/javascript"></script>
</html>