<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">    <title>Admin</title>
    <link href="admin.css" rel="stylesheet">
</head>
<body>
<h1>Westward admin</h1>
<div ng-app="admin" ng-controller="mainCtrl">

    <div class="panel panel-default" ng-repeat="settlement in settlements">
        <div class="panel-heading"><b>{{settlement.name}}</b>&nbsp;|&nbsp{{settlement.pop}} citizens&nbsp;|&nbsp;{{settlement.surplus | number:2 | pctFilter:true }}</div>
        <div class="panel-body">

            <div class="box">
                <div class="panel panel-default building_panel" ng-repeat="building in settlement.buildings">
                    <div class="panel-heading">#{{building.id}} <b>{{building.type | buildingTypeFilter}}</b></div>
                    <div class="panel-body">
                        ({{building.x}},{{building.y}})<br/>
                        Gold: {{building.gold}}<br/>
                        Committed: {{building.committed}}<br/>
                        Productivity: {{building.productivity | pctFilter}}<br/>
                        Progress: {{building.progress | pctFilter}}<br/><br/>
                        <div ng-show="building.inventory.length > 0">
                            Inventory:<br/>
                            <span ng-repeat="itm in building.inventory">{{itm | shopFilter:building.prices}}  <br/></span>
                        </div>
                        <!-- {{building | displayBuilding}}-->
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" ng-click="buildingForms[$index].visible = !buildingForms[$index].visible">Add building</button><br/>

            <form ng-submit="deleteBuilding($index)">
                <input required ng-model="deleteForms[$index].id" placeholder="building ID">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>

            <div class="forms" ng-show="buildingForms[$index].visible">
                <form ng-submit="addBuilding(settlement.id)">
                    <b>New Building:</b><br/>
                    (<input required class="coord" ng-model="buildingForms[$index].x" placeholder="x" size="1" >,
                    <input required class="coord" ng-model="buildingForms[$index].y"  placeholder="y" size="3" >)<br/>
                    <select ng-model="buildingForms[$index].type" ng-options="id as info.name for (id, info) in data.buildings"></select><br/>
                    <select ng-model="buildingForms[$index].sid" ng-options="set.id as set.name for set in settlements"></select><br/>
                    Built </b><input ng-model="buildingForms[$index].built" type="checkbox"><br/>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>



    <!-- <div class="box">
        <div  ng-repeat="x in buildings">
            <textarea>{{x | displayBuilding}}</textarea>
        </div>
    </div> -->
</div>

</body>
<script src="admin.js" type="text/javascript"></script>
</html>