body{
    padding: 10px;
}
.forms {
    margin-top: 20px;
}
.coord {
    width: 3em;
}
textarea {
    width: 300px;
    height: 200px;
}
.box {
    display: flex;
    flex-wrap: wrap;
}
.panel {
    border-radius: 0;
    margin-right: 10px;
}

.building_panel {
    width: 350px;
}
.edit-btn{
    float: right;
    margin-top: -5px;
    margin-right: -10px;
}
.edit-div{
    position: relative;
    bottom: 0;
}
.item-select{
    width: 200px;
}